<h2 class="main__title">
  Search by region: <small>{{ activeRegion | titlecase }}</small>
</h2>
<p class="text">Select the region</p>
<button
  *ngFor="let region of regions"
  (click)="activateRegion(region)"
  [class]="getCssClass(region)"
>
  {{ region | titlecase }}
</button>
<app-country-table [countries]="countries"></app-country-table>

<!-- Maneras de añadir clases de forma condicional 
1- [class.btn-active]="region === activeRegion"
2- [ngClass]="{
  'btn-active': region === activeRegion,
  'btn-nonactive': region !== activeRegion
}" (en este caso JS está evaluando las dos condiciones)
3- [class]="region === activeRegion ? 'btn-active' : 'btn-nonactive'" (evaluamos una condición)-->
