<div class="main__wrapper">
  <h2 class="main__title">Search by country</h2>
  <form (ngSubmit)="getInputSearch()" class="form">
    <input
      class="form__input"
      type="text"
      name="search"
      [(ngModel)]="inputSearch"
      placeholder="Search country..."
    />
  </form>
  <p class="form__text">Sorry, no matches found</p>
</div>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Population</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>flag</td>
      <td>name</td>
      <td>1234567</td>
      <td>
        <a href="/country/cri">See...</a>
      </td>
    </tr>
  </tbody>
</table>
