/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 195, 190);
}

.header__title {
  margin-bottom: 10px;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__list-item {
  margin-right: 20px;
  padding: 8px;
  background-color: rgb(49, 143, 138);
  border-radius: 4px;
  cursor: pointer;
}

.active {
  background-color: purple;
}
